/**************/
/* CSS REMEDY */
/**************/
* {
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#F3F0ED;
}


/****************/
/* JOUW STYLING */
/****************/
@font-face {
    font-family: Guntez;
    font-weight: bold;
    src: url(../font/Fontspring-DEMO-gunterz-bold.otf);
}

@font-face {
    font-family: Brice;
    font-weight: bold;
    src: url(../font/brice-black-expanded.otf);
}

@font-face {
    font-family: Anasge;
    font-weight: medium;
    src: url(../font/ansage-regular-xp.otf);
}

@font-face {
    font-family: two;
    font-weight: medium;
    src: url(../font/2.woff);
}


body {
	background-image: url(../images/header/bg-header.jpg);
}


header {
	padding: 2em;
	background-image: url(../images/header/bg-header.jpg);
	background-repeat: repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h2 {
	font-family: Brice;
	font-weight: bold;
	color: #FEFCF2;
	font-size: 3rem;
	white-space: nowrap; 
}

p {
	font-family: Anasge;
}

.banner {
	display: flex;
	overflow: hidden;
	background-color: #fe4f4f;
	height: 7rem;
	position: relative; /* Nodig voor het positioneren van de animatie */
	padding-top: 1em;
}

.banner-content {
	display: flex; 
	animation: marquee 50s linear infinite;
  }

.banner h2 {
	position: absolute;
	animation: marquee 20s linear infinite;
  }

  
  @keyframes marquee {
	0% {
	  transform: translateX(0%);
	}
	100% {
	  transform: translateX(-100%);
	}
  }


header img:nth-child(4) {
	width: 195px;
	margin-top: 10em;
	margin-bottom: 10em;
}

header img:nth-child(5) {
	width: 123px;
}

.off-screen-tinymenu {
	background-color: #FFD500;
	height: 100vh;
	width: 500px;
}

/****************/
/* MENU */
/****************/

/* Hamberuger menu */
/* https://chatgpt.com/share/6746ffdf-0034-8009-b2a8-0d1bad92665c */
.menuHidden {
	display: none;
}

/* maakt hamburger knop mooi*/
.hamburger {
	border: none;
	width: 3em;
	position:sticky;
	top:-4em;
	z-index:10;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Guntez;
	font-weight: bold;
	font-size: 2.5em;
	letter-spacing: 0.1em;
}

nav li {
	list-style-type: none;
	text-align: center;
}

nav a {
	/* https://chatgpt.com/share/6746f87a-fa30-8009-9a5b-1c0ee0dbdf64 */
	text-decoration: underline;
	text-underline-offset: 0.5em;
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: auto;
	color: white;
	line-height: 1.8em;;
}

/****************/
/* Dopple Shop, Prints & Design */
/****************/

ul .orders {
	margin: 0;
	padding: 0;
	list-style: none;
}

.orders li {
	height: 27em;
}

.orders li:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/backgrounds/bg-doubledesign.png);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	width:100%;
	height:27em;
}
/*Bron: https://chatgpt.com/share/674ddfc5-43e8-8009-b34f-1faf6b260f08: Maar hoe zorg ik ervoor dat de afbeelding in het midden van de parent staat?*/
.orders li:first-child img {
	display: block;
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%); 
	width: 70%;
	z-index: 1;
}

/*Bron: https://chatgpt.com/share/674ddfc5-43e8-8009-b34f-1faf6b260f08: hoe kan ik aangeven, dat wanneer een tekst buiten een bepaalde breedte gaat, hij zichzelf onder elkaar zet? css*/
.orders li:first-child h2 {
	overflow-wrap: break-word;
	line-height: 1em;
	z-index: 2;
	white-space: normal;
	z-index: 2;
	position: absolute;
	text-align: center;
}

.orders li:nth-of-type(2) {
	background-image: url(../images/backgrounds/paint-smudge-center-full.png);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	width:100%;
}

.orders li:nth-of-type(2) h2 {
	color: #EB5E29;
	font-family: Guntez;
    font-weight: bold;
	overflow-wrap: break-word;
	line-height: 1em;
	white-space: normal;
	position: absolute;
	text-align: center;
	z-index: 1;
}

.orders li:nth-of-type(2) img {
	width: 1em;
	height: 3em;
	z-index: 2;
	position: absolute;
	left:11.8em;
	top: 13em;
}

.orders li:nth-of-type(3) {
	background-image: url(../images/header/bg-header.jpg);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	width:100%;
}

.orders li:nth-of-type(3) h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.orders li:nth-of-type(3) img {
	height: 10em;
	z-index: 2;
}

.orders li:nth-of-type(3) img:nth-child(2) {
	height: 16em;
	z-index: 1;
}





/****************/
/* Risography */
/****************/

.risography {
	background-image: url(../images/risioprint-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


